services/sts/src/main/webapp/WEB-INF/wsdl/ws-trust-1.4-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
        xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
        xmlns:wstrust="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsap10="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://www.w3.org/ns/ws-policy">

  <wsdl:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" location="ws-trust-1.4.wsdl"/>

  <wsdl:binding name="Transport_Binding" type="wstrust:STS">
    <wsp:PolicyReference URI="#Transport_policy" />
  	<soap12:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Issue">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
  		<wsdl:input>
  		    <wsp:PolicyReference
               URI="#Input_policy" />
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  		    <wsp:PolicyReference
               URI="#Output_policy" />
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Validate">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
  		<wsdl:input>
  		    <wsp:PolicyReference
               URI="#Input_policy" />
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  		    <wsp:PolicyReference
               URI="#Output_policy" />
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Cancel">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Cancel" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Renew">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="KeyExchangeToken">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/KeyExchangeToken" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="RequestCollection">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/RequestCollection" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransportUT_Binding" type="wstrust:STS">
    <wsp:PolicyReference URI="#TransportUT_policy" />
  	<soap12:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Issue">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Issue" />
  		<wsdl:input>
  		    <wsp:PolicyReference
               URI="#Input_policy" />
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  		    <wsp:PolicyReference
               URI="#Output_policy" />
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Validate">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Validate" />
  		<wsdl:input>
  		    <wsp:PolicyReference
               URI="#Input_policy" />
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  		    <wsp:PolicyReference
               URI="#Output_policy" />
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Cancel">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Cancel" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="Renew">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/Renew" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="KeyExchangeToken">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/KeyExchangeToken" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="RequestCollection">
  		<soap12:operation
  			soapAction="http://docs.oasis-open.org/ws-sx/ws-trust/200512/RST/RequestCollection" />
  		<wsdl:input>
  			<soap12:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap12:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityTokenService">
      <wsdl:port name="Transport_Port" binding="tns:Transport_Binding">
         <soap12:address location="http://localhost:8080/jaxws-sts/sts" />
      </wsdl:port>
       <wsdl:port name="TransportUT_Port" binding="tns:TransportUT_Binding">
         <soap12:address location="http://localhost:8080/jaxws-sts/sts" />
      </wsdl:port>      
  </wsdl:service>
  
  <wsp:Policy wsu:Id="TransportUT_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <!--<wsap10:UsingAddressing/>-->
            <sp:TransportBinding
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                            <wsp:Policy/>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:TripleDes />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax />
                     </wsp:Policy>
                  </sp:Layout>
                  <!--<sp:IncludeTimestamp />-->
               </wsp:Policy>
            </sp:TransportBinding>
            <sp:SignedSupportingTokens
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:UsernameToken
                     sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                     <wsp:Policy>
                        <sp:WssUsernameToken10 />
                     </wsp:Policy>
                  </sp:UsernameToken>
               </wsp:Policy>
            </sp:SignedSupportingTokens>
            <sp:Wss11
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportRefKeyIdentifier />
                  <sp:MustSupportRefIssuerSerial />
                  <sp:MustSupportRefThumbprint />
                  <sp:MustSupportRefEncryptedKey />
               </wsp:Policy>
            </sp:Wss11>
            <sp:Trust13
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportIssuedTokens />
                  <sp:RequireClientEntropy />
                  <sp:RequireServerEntropy />
               </wsp:Policy>
            </sp:Trust13>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

    <wsp:Policy wsu:Id="Transport_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <!--<wsap10:UsingAddressing/>-->
            <sp:TransportBinding
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:TransportToken>
                     <wsp:Policy>
                        <sp:HttpsToken>
                            <wsp:Policy/>
                        </sp:HttpsToken>
                     </wsp:Policy>
                  </sp:TransportToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:TripleDes />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Lax />
                     </wsp:Policy>
                  </sp:Layout>
                  <!--<sp:IncludeTimestamp />-->
               </wsp:Policy>
            </sp:TransportBinding>
            <sp:Wss11
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportRefKeyIdentifier />
                  <sp:MustSupportRefIssuerSerial />
                  <sp:MustSupportRefThumbprint />
                  <sp:MustSupportRefEncryptedKey />
               </wsp:Policy>
            </sp:Wss11>
            <sp:Trust13
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <wsp:Policy>
                  <sp:MustSupportIssuedTokens />
                  <sp:RequireClientEntropy />
                  <sp:RequireServerEntropy />
               </wsp:Policy>
            </sp:Trust13>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

   <wsp:Policy wsu:Id="Input_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SignedParts
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <sp:Body />
               <sp:Header Name="To"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="From"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="FaultTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="ReplyTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="MessageID"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="RelatesTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="Action"
                  Namespace="http://www.w3.org/2005/08/addressing" />
            </sp:SignedParts>
            <sp:EncryptedParts
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <sp:Body />
            </sp:EncryptedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>
   
   <wsp:Policy wsu:Id="Output_policy">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:SignedParts
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <sp:Body />
               <sp:Header Name="To"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="From"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="FaultTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="ReplyTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="MessageID"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="RelatesTo"
                  Namespace="http://www.w3.org/2005/08/addressing" />
               <sp:Header Name="Action"
                  Namespace="http://www.w3.org/2005/08/addressing" />
            </sp:SignedParts>
            <sp:EncryptedParts
               xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
               <sp:Body />
            </sp:EncryptedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

</wsdl:definitions>
